
    <div id="map" class="map"></div>
    <form>
      <label for="type">Measurement type &nbsp;</label>
      <button #type value="LineString" id="type" (click)="addInteraction()"></button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <label for="segments">Show segment lengths:&nbsp;</label>
      <input #segment type="checkbox" id="segments" checked />
      &nbsp;&nbsp;&nbsp;&nbsp;
      <label for="clear">Clear previous measure:&nbsp;</label>
      <input type="checkbox" id="clear" checked />
    </form>